  /* Body & General */

body {
    background-image: url('./Ocean.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.center {
    text-align: center;
    }

#app{
    margin: 50px;
    border-radius: 20px;
    padding-top: 30px;
    padding-bottom: 50px;
    background-color: rgba(221, 245, 244, 0.7);
}


#main{
    top: 50%;
    left: 50%;
    border-top:solid #368992;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 5px;

}

#footer {
    height: 3%;
    width: 100%;
    border-top: solid 2px #368992;
    background-color: rgba(245, 245, 245, 0.81);
    position: fixed;
    bottom: 0;
    color: #368992;
        
    }

h1 {
    font-size: 60px;
    color: #f1b2aa;
}

h2 {
    color: #928c8c;
    text-align: left;
    margin-left: 10px;
    padding-top: 15px;
}
h3{
    color: slategray;
}

h4{
    text-align: center;
    text-decoration: underline;
}

  /* About */    


.section{
    top: 50px;
    left: 50px;
    background-color: rgba(255, 253, 243,.50);
    color: slategray;
    height: 350px;
    width: 800x;
    text-align: center;
    border-radius: 5px;
    margin-top: 40px; 
}

#aboutHead{
    margin-left:10px;
    margin-top: 10px;
    margin-bottom: 30px;
}

#pic {
    width: 160px;
    height: 227.86px;
    margin-left:20px;
    float: left;
    border-radius: 5px;
    }

#description {
    color: #fff77e;
    font-size: 18px;
    background-color: rgba(54, 137, 146, 0.49);
    padding: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
    border-radius: 4px;
    margin-left: 200px;
    margin-right: 20px;
    margin-top: 60px;
    
}

/* Projects */


#project-list{
    margin-top: 75px;
    height: 770px

}
.project{

    border-radius: 10px;
    font-size: 20px;
    margin: 10px;
    margin-top:-10px;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-right: 40px;
    padding-left: 40px;
    color: slategray;
    display:inline-block;
    float:none;
    text-align:left;
    margin-right:-4px;
    
}
#projects{
    margin: 30px;
    margin-left:5px;
}
.img-link{
    display:block;
    height: 220px;
    width: 310px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;

}

.row{
    margin-top: 7px;
}

/* Contact */

#contactInfo{
    width: 80%;
    height: 100px;
    margin: auto;
    padding: 10px;
}   

#name{
    width: 50%;
    height: 100px;

    float: left;
}

#email{
    margin-left: 50%;
    width: 50%;
    height: 100px;

}

#message-input{
    resize: both;
}

input{
    width: 200px;
    background-color: white;
    border-color: lightgray;
}

textarea{
    height: 68px;
    width: 600px;
    background-color: white;
    border-color: lightgray;
}

#submit{
    display: block;
    margin: auto;
    background-color: #fff9a5;
    color: #928c8c;
    font-size: 13px;
    border-radius: 20px;;
    height: 30px;
    width: 70px;
    border-color:#fff77e;


}
#submit:hover{
    background-color:#fff34a;;
}